name: Test workflow

on:
  workflow_dispatch:
  pull_request:
    paths-ignore:
      - '.github/**'
      - 'sample/**'
  push:
    branches:
      - main
    paths-ignore:
      - '.github/**'
      - 'sample/**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          path: sample/themes/vinyl-records-collection-theme

      - run: find .

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: '0.116.1'
          extended: true

      - name: Run hugo build
        run: |
          cd sample && hugo| tee -a  $GITHUB_STEP_SUMMARY


